.blefaroplastia__ul {
  list-style: none;
}

.blefaroplastia__ul svg {
  color: var(--green-color);
}

.blefaroplastia__img {
  width: 400px;
}

.blefaroplastia h3{
  text-align: center;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
  .blefaroplastia__card--specialAlignmentBottom {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767px) and (min-width: 576px) {
  .blefaroplastia__card--specialAlignmentBottom {
    display: none;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991px) and (min-width: 768px) {
  .blefaroplastia__card--specialAlignmentTop {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199px) and (min-width: 992px) {
  .blefaroplastia__card--specialAlignmentTop {
    display: none;
  }
}

@media (min-width: 1200px){
  .blefaroplastia__card--specialAlignmentTop {
    display: none;
  }
}