.schedule-button {
    padding: 8px;
    border-radius: 8px;
    border: solid 2px;
    border-color: var(--pink-color);
    color: var(--white-color);
    background-color: var(--pink-color);
    margin: 15px !important;
    /* Transitions */
    -webkit-transition: background 0.5s 0s ease;
    -moz-transition: background 0.5s 0s ease;
    -o-transition: background 0.5s 0s ease;
    transition: background 0.5s 0s ease;
}

.selected {
    color: var(--white-color);
    background-color: var(--aqua-color);
}

.schedule-button:hover {
    color: var(--white-color);
    background-color: transparent;
    border-radius: 8px;
    border: solid 2px;
    border-color: var(--pink-color);
    /* Transitions */
    -webkit-transition: background 0.5s 0s ease;
    -moz-transition: background 0.5s 0s ease;
    -o-transition: background 0.5s 0s ease;
    transition: background 0.5s 0s ease;
}

.hidden {
    display: none;
}

.schedule-alert-icon {
    font-size: x-large;
    color: var(--pink-color)!important;
}

.react-calendar {
    /* background-color: transparent!important; */
    color: var(--true-black-color);
}

.react-calendar__tile--active {
    background: var(--pink-color)!important;
}

.react-calendar__tile--now {
    background: var(--aqua-color)!important;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: var(--pink-color)!important;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: var(--gray-color)!important;
}

.react-calendar__tile--hasActive:enabled:hover {
    background: var(--gray-color)!important;
}

.pick-time {
    color: var(--white-color);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--aqua-color);
    background-color: var(--aqua-color);
    cursor: pointer;
    transition: 0.3s;
}

.pick-time:hover {
    background-color: transparent;
    box-shadow: 0px 0px 40px 14px rgba(127,209,185,0.33);
    -webkit-box-shadow: 0px 0px 40px 14px rgba(127,209,185,0.33);
    -moz-box-shadow: 0px 0px 40px 14px rgba(127,209,185,0.33);
    transition: 0.3s;
}