/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the `card` elemenent.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.pricing-warning {
    font-size: 10px;
    margin-top: 20px;
}

.total-details {
    border-style: solid none none none;
    border-width: 2px;
}

.cancell-surgery {
    cursor: pointer;
}

.name-container {
    z-index: 1;
}

.cardDetail {
    border-radius: 20px;
    background: var(--gray-color);
    /* box-shadow: 1px 10px 31px -1px rgba(127,135,144,0.59);
-webkit-box-shadow: 1px 10px 31px -1px rgba(127,135,144,0.59);
-moz-box-shadow: 1px 10px 31px -1px rgba(127,135,144,0.59); */

    padding-left: 50px!important;
}

.total-container {
    border-style: dashed;
    border-width: 2px;
}
.alert-icon-details svg path{
    color: var(--white-color);
}

.swal2-styled.swal2-confirm {
    background-color: var(--pink-color);
}