.visit-us-main-container {
    padding-bottom: 30px;
}

.location-info a {
  color: var(--white-color);
}

.location-info a:hover {
  text-decoration: none;
}

.map {
  -webkit-filter: invert(90%);
  -moz-filter: invert(90%);
  -ms-filter: invert(90%);
  -o-filter: invert(90%);
  filter: invert(90%);
}

.visit-us-container {
  margin: auto;
  width: 50%;
}
