.visit-us-main-container {
    padding-bottom: 30px;
}

.location-info a {
  color: var(--white-color);
}

.location-info a:hover {
  text-decoration: none;
}

.map {
  -webkit-filter: invert(90%);
  -moz-filter: invert(90%);
  -ms-filter: invert(90%);
  -o-filter: invert(90%);
  filter: invert(90%);
}

.visit-us-container {
  margin: auto;
  width: 30%;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .map-location {
    width: 600px;
    height: 150px;
  }

  .map-main-container {
    margin: 0;
    padding: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .visit-us-container {
    margin: auto;
    width: 100%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
    
}