.img-logo-navbar {
    height: 25px;
}

.navbar {
    background-color: var(--true-black-color)!important;
    font-size: 18px;
    font-weight: normal;
}

.navbar a {
    color: var(--white-color)!important;
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--pink-color)!important;
    transition: 0.3s;
}

.navbar-light .navbar-toggler {
    background-color: var(--pink-color)!important;
}
/* .navbar-nav .active {
    font-weight: bold;
    font-size: 20px;
    border-style: none none solid none;
    border-width: 2px;
} */

