.container-footer hr {
  border: 0.05rem solid var(--pink-color);
  margin: 20px 80px;
}

.container-footer .rinoexperts-info .short-text {
  margin-top: 25px;
}

.container-footer .rinoexperts-info .whatsapp-icon {
  font-size: 30px;
}

/* .container-footer .container-icon {
  margin: auto;
  width: 50%;
  //padding: 10px;
} */

.contact-us-footer a {
  color: var(--pink-color);
  text-decoration: none;
  transition: 0.3s;
}

.contact-us-footer a:hover {
  transition: 0.3s;
  text-decoration: underline;
}

.quick-links li {
    list-style: none;
    padding: 10px 0px;
}

.quick-links li a {
    color: var(--true-black-color);
    transition: 0.3s;
}

.quick-links li a:hover {
    color: var(--pink-color);
    text-decoration: none;
    transition: 0.3s;
    border: 1px solid var(--pink-color);
    padding: 5px;
    font-weight: bold;
}

.social-icons {
    font-size: 30px;
    padding-left: 30px;
    margin-top: 18px;
}

.social-icons a {
    color: var(--black-color);
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--pink-color);
    font-size: 35px;
    transition: 0.3s;

}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .rinoexperts-info {
    padding-bottom: 30px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .rinoexperts-info {
    padding-bottom: 30px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}
