.owl-theme .item {
  background-color: var(--gray-light-color);
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: -3px 3px 16px 0px #292c36;
  box-shadow: -3px 3px 16px 0px #292c36;
}

.item__green {
  background: rgba( 2, 2, 2, 0.9 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 18px );
-webkit-backdrop-filter: blur( 18px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 10px;
}

.owl-item {
  margin-bottom: 10px;
}

.owl-theme .item__green img {
  border-radius: 5px;
  border: 2px solid var(--pink-color);
}

.slider-result-container {
  padding: 30px 0px;
}

.owl-theme {
  padding-bottom: 20px 0px;
}

.owl-item .cloned {
  filter: blur(3px)!important;
}

.owl-item .active {
  filter: blur(3px)!important;
}

.review-content p{
  height: 80px;
}

.slider-result-container__imgBack {
  /* background-image: url('../../assets/img/logo.png'); */
  background-repeat: no-repeat;
  background-position: center;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .slider-result-container {
        padding: 25px 0px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
