body {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  line-height: 28px;
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 8px); }
  100%   { transform: translate(0, -0px); }   
}

.col-xl-0 {
  display: none;
}
.col-lg-0  {
  display: none;
}
.col-md-10  {
  display: none;
}
.col-sm-10  {
  display: none;
}
.col-xs-10 {
  display: none;
}

.container-fluid {
  /* padding: 0!important; */
  margin: 0!important;
}

.justify-text {
  text-align: justify;
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadein 2s ease-in;
  -moz-animation: fadein 2s ease-in;
  animation: fadein 2s ease-in;
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.fadeOut {
  -webkit-animation: fadeOut 2s ease-out;
  -moz-animation: fadeOut 2s ease-out;
  animation: fadeOut 2s ease-out;
}

.hidden {
  display: none !important;
}

/* Tipografías */
* {
  font-family: "Questrial", sans-serif;
}

.font-light {
  font-family: "Questrial";
  font-weight: 300;
}

.font-regular {
  font-family: "Questrial";
  font-weight: 400;
}

.font-medium {
  font-family: "Questrial";
  font-weight: 500;
}

.font-semibold {
  font-family: "Questrial";
  font-weight: 600;
}

.font-bold {
  font-family: "Questrial";
  font-weight: bold;
}
/* Fin tipografías */

.no-text-decoration {
  text-decoration: none;
}

/* Colors */
.text-black-color {
  color: var(--true-black-color);
}

.text-white-color {
  color: var(--white-color);
}

.text-aqua-color {
  color: var(--aqua-color);
}

.text-gray-color {
  color: var(--gray-color);
}

.text-pink-color {
  color: var(--pink-color);
}
/* Colors */

.form-check-input:checked {
  background-color: var(--aqua-color);
  border-color: var(--aqua-color);
}

.form-check-input {
  background-color: var(--white-color);
  border-color: var(--aqua-color);
}

.form-check-input:focus {
  border-color: var(--aqua-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #407b8386;
}

.black-background {
  background-color: var(--true-black-color);
  overflow: clip;
}

.green-background {
  background-color: var(--green-color);
  overflow: clip;
}
.form-control-plaintext {
  color: var(--gray-color);
}

.form-control-plaintext:focus-visible {
  outline: 1px solid var(--aqua-color);
}

.form-select:focus {
  outline: 1px solid var(--aqua-color);
}

:root {
  --white-color: #fefefe;
  --gray-color: #6B6B6B;
  --gray-light-color: #DDDDDD;
  --aqua-color: #7FD1B9;
  --green-color: #BFE2D7;
  --pink-color: #CA527B;
  --pink-medium-color: #C47493;
  --pink-light-color: #EABECE;
  --true-black-color: #020202;
}
